<a href="https://colab.research.google.com/github/jamenggay/CCINCOML_EXERCISES_COM23P/blob/main/Tuazon_exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [139]:
# put your answer here
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [140]:
# put your answer here
months[3]

'April'

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [142]:
# put your answer here
months[8:12]

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [143]:
# put your answer here
months[0:4]

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [144]:
# put your answer here
print(len(months))

12

- Get the element with the largest value of the month list using `max()`

In [145]:
# put your answer here
print(max(months))

September

- Get the element with the smallest value of the month list using `min()`

In [146]:
# put your answer here
print(min(months))

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [147]:
# put your answer here
print(sorted(months))

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [151]:
# put your answer here
birthday = (12, 27, 2004)
(month, day, year) = birthday

print(month)
print(day)
print(year)

12
27
2004

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [148]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [38]:
# put your answer here
revised_products = set(products)
print(revised_products)

{'printer', 'projector', 'headphones', 'tablet', 'mouse', 'smartphone', 'powerbank', 'monitor', 'laptop', 'speakers', 'keyboard'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [33]:
# put your answer here
print("headphones" in products)

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [43]:
# put your answer here
favorites = {"Movie": "The Midnight Sun", "American Series": "Grey's Anatomy", "Book": "The Inheritance Game", "Food": "Pasta", "Drinks": "Coffee" }
print(favorites["Movie"])
print(favorites["American Series"])
print(favorites["Book"])
print(favorites["Food"])
print(favorites["Drinks"])

The Midnight Sun
Grey's Anatomy
The Inheritance Game
Pasta
Coffee

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [44]:
# put your answer here
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October', 'November', 'December']
for month in months:
  print(month)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [86]:
# put your answer here

for month in months:

  if month.find('ber')>0:
    print(month)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [87]:
# put your answer here
for month in months:

  if month.find('ber')<0:
    print(month)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [88]:
# put your answer here
for x in range(5):
  print("Jamaine")

Jamaine
Jamaine
Jamaine
Jamaine
Jamaine

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [106]:
# put your answer here
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

for x in names:
  usernames.append(x.lower().replace(' ', '_'))
print (usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [114]:
for month in months:
  print(month)
  if month.find('ber')>0:
    break

January
February
March
April
May
June
July
August
September

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [121]:
# put your answer here
def population_density(population, land_area):
  return population / land_area

print("Population Density is " + str(population_density(100, 5)))

Population Density is 20.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [150]:
# put your answer here
steplist = [200, 300, 250, 150, 350, 100, 120]

def averagestep(mylist):
  sum = 0
  for x in mylist:
    sum = sum + x

  return sum / 7


averagestep(steplist)

210.0